@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

#logo-navbar {
    font-family: 'Fredoka One', cursive;
    color: white;
    font-size: xx-large;
}

.home-banner-area {
    height: 100vh;
}

.fa-instagram:hover {
    color: #FD1D1D;
}

.fa-facebook-f:hover {
    color: #3b5998;
}

.fa-youtube:hover {
    color: #c4302b;
}

.fa-whatsapp:hover {
    color: #25D366
}

@media screen and (min-width: 1200px) {
    .home-banner-area .banner-content {
        margin-top: 15%;
    }

    .head-bottom-meta {
        left: 10%;
    }
}